 <!-- Shopping cart script first, trying to load cart items... -->
 <script>
    $(document).ready(function(){
      //console.log(user.id); --> Error, user doesn't exist in current EJS
      var cartRetrieve = {
          message: "No logged in user",
          userID : 0,
      };
      // Only retrieve user.id when user is logged in, when user.id (or user) is not undefined (NOT WORKING, THE JAVASCRIPT STILL PROCESSES...)
      if(typeof `<%= user %>` !== "undefined") {     /* For some reason return keyword does not break $(document).ready() function */
        console.log(String(`<%= user.id %>`));
        cartRetrieve = {
            message: "Requesting for cart items of current user",
            userID : parseInt(`<%= user.id %>`),
        };
      }
      
      $.ajax({
          url: 'http://localhost:3000/transaction/cart/show/',
          type: 'POST',
          dataType: 'json',
          data: JSON.stringify(cartRetrieve),
          contentType: "application/json",
          encode: true,

          success: function(data) {
            // Log data to check
            console.log(data);
            console.log(data[0].user_id);
            console.log(data[1].price1);
            console.log(data[0].book_id);

            /* Start generating the list of items */
            // Check in case, test if object?
            if ($.isEmptyObject(data)) {
                return;
            }

            var totalPrice = 0
            for (var i = 1; i < data.length; i++) {
                var Item = $(document.createElement("li"));
                var Num = (i + 1).toString() + "." ;
                var Name = data[i].title;
                var Price = "$" + (data[i].price1).toString() ;
                var RemoveLink = "http://localhost:3000/transaction/cart/remove/" + data[i].book_id.toString() ;
                
                totalPrice += parseFloat(data[i].price1);

                // Creating each item HTML code, need to check
                $(Item).html("<span class='cd-qty'>" + Num + "</span><span>" + Name + "</span><div class='cd-price'>" + Price + "</div><span><a href='" + RemoveLink + "' class='cd-item-remove cd-img-replace'>Remove</a></span>");

                $("#cd-cart-items").append(Item);
            }

            $(#cartTotalPrice).html("$" + )


            // $.alert({
            //           title: 'Book added to cart',
            //           content: toString(data),
            //           buttons: {
            //               OK: function () {
            //                   location.replace("http://localhost:3000/products");
            //               }
            //           }
            //     });
             
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(errorThrown);
            }
        });

    });
</script>

 <!-- Shopping cart (with sample data) -->       
 <div id="cd-shadow-layer"></div>

 <div id="cd-cart">
         <h2>Cart</h2>
         <ul id="cd-cart-items" class="cd-cart-items">
             <li id="addr0" data-id="0" class="hidden">
                 <span name="num0"class="cd-qty"></span> 
                 <span name="name0"></span> 
                 <div name="price0" class="cd-price"></div>
                 <span data-name="removeLink0">
                    <a href="" class="cd-item-remove cd-img-replace">Remove</a>
                 </span>
             </li>
         </ul> <!-- cd-cart-items -->
         
         <div id="cartInfo" class="hidden">
            <div class="cd-cart-total">
                <p>Total <span name="cartTotalPrice" id="cartTotalPrice"></span></p>
            </div> <!-- cd-cart-total -->
    
            <a href="#0" class="checkout-btn">Checkout</a>
            
            <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
        </div>

        <div id="cartEmpty">
            <p>NO ITEMS IN CART</p>
        </div>
     </div> <!-- cd-cart -->

    