 <!-- Shopping cart script first, trying to load cart items... -->
 <script defer>
    $(document).ready(function(){
        var user = `<%  user  %>`
      //console.log(user.id); --> Error, user doesn't exist in current EJS
      var cartRetrieve = {
          message: "No logged in user",
          userID: 0,
      };
      // Only retrieve user.id when user is logged in, when user.id is not empty string (NOT WORKING, NEED TO CHANGE HOW LOGOUT WORKS.)
      if (`<%= user.id %>` !== "") {     /* For some reason return keyword does not break $(document).ready() function ?? */
        console.log(String(`<%= user.id %>`));
        cartRetrieve = {
            message: "Requesting for cart items of current user",
            userID : parseInt(`<%= user.id %>`),
        };
      }
      // Total price
      var totalPrice = 0.00;
      $.ajax({
          url: 'http://localhost:3000/transaction/cart/show/',
          type: 'POST',
          dataType: 'json',
          data: JSON.stringify(cartRetrieve),
          contentType: "application/json",
          encode: true,

          success: function(data) {
            // Log data to check
            console.log(data);
            console.log(data[0].user_id);
            console.log(data[1].price1);
            console.log(data[0].id);

            /* Start generating the list of items */
            // Check in case, test if object?
            if ($.isEmptyObject(data)) {
                return;
            } else {
                $("#cartEmpty").addClass("hidden");
                $("#cartInfo").removeClass("hidden");
            }

            for (var i = 0; i < data.length; i++) {
                var Item = $(document.createElement("li"));
                var Num = (i + 1).toString() + "." ;
                var Name = data[i].title;
                var Price = "$" + (Number(Math.round(data[i].price1+'e2')+'e-2').toFixed(2)).toString() ;
                var RemoveURL = "http://localhost:3000/transaction/cart/remove/" + data[i].id.toString() ;
                
                totalPrice += data[i].price1;
                console.log(Price);
                console.log(totalPrice);

                // Creating each item HTML code, need to check
                // NEED EDIT THE REMOVE
                $(Item).html("<span class='cd-qty'>" + Num + "</span><span>" + Name + "</span><div class='cd-price'>" + Price + "</div><span><a href='" + RemoveURL+ "' class='cd-item-remove cd-img-replace'>Remove</a></span>");

                $("#cd-cart-items").append(Item);
            }

            $("#cartTotalPrice").html("$" + (Number(Math.round(totalPrice+'e2')+'e-2').toFixed(2)).toString());


            // $.alert({
            //           title: 'Book added to cart',
            //           content: toString(data),
            //           buttons: {
            //               OK: function () {
            //                   location.replace("http://localhost:3000/products");
            //               }
            //           }
            //     });
             
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log(errorThrown);
            }
        });

        $('#checkoutCartBtn').click( function() {
            
            var cartCheckout = {
              message : "Checking out cart",
              userID : parseInt(`<%= user.id %>`),
              cartTotalPrice : totalPrice
            };

            $.ajax({
            url: 'http://localhost:3000/transaction/cart/checkout/',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(cartCheckout),
            contentType: "application/json",
            encode: true,
            success: function(data) {
                location.replace("http://localhost:3000/payment");
            },
            error: function(jqXHR, textStatus, errorThrown){
                    console.log(errorThrown);
            }
            });
        });    
        
    });
</script>

 <!-- Shopping cart (with sample data) -->       
 <div id="cd-shadow-layer"></div>

 <div id="cd-cart">
         <h2>Cart</h2>
         <ul id="cd-cart-items" class="cd-cart-items">
             <li id="addr0" data-id="0" class="hidden">
                 <span name="num0"class="cd-qty"></span> 
                 <span name="name0"></span> 
                 <div name="price0" class="cd-price"></div>
                 <span data-name="removeLink0">
                    <button id="cartItemRemove" class="cd-item-remove cd-img-replace">Remove</button>
                 </span>
             </li>
         </ul> <!-- cd-cart-items -->
         
         <div id="cartInfo" class="hidden">
            <div class="cd-cart-total">
                <p>Total <span name="cartTotalPrice" id="cartTotalPrice"></span></p>
            </div> <!-- cd-cart-total -->
    
            <button id="checkoutCartBtn" class="checkout-btn">Checkout</a>
            
            <p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
        </div>

        <div id="cartEmpty">
            <p>NO ITEMS IN CART</p>
        </div>
     </div> <!-- cd-cart -->
