<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>chat window</title>
    <script src="bower_components/socket.io-client/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/screen.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="mainContainer">
        <div class="loginSection" data-name="<%=chatUsername%>">

            <!--userInfo start here-->

            <div class="userInfo">
                <div class="userImageScreen">
                    <div class="userProfileImg">
                        <img src="images/user.png" class="userImage">
                    </div>
                </div>

                <div class="screens">
                    <!--script template-->
                </div>

            </div>
            <!--userInfo closed here-->
        </div>
    </div>


    <div class="chatContainer">
        <div class="leftPanel">
            <div class="usersOnline">
                <div class="profileInfo">
                    <!--script template-->
                </div>
                <div class="searchBox">
                    <input type="text" class="inputBox" id="searchString" placeholder="Search or Start New Chat">
                    <div class="searchButton" id="search">
                        <i class="fa fa-search"></i>
                    </div>

                    <!--<input type="button" id="search" value="search">-->
                </div>
                
                <table id="chat">
                        <div class="usersContainer">                   
                                <!--<div id="userList"></div>-->
                            </div>
                      
                      </table>
                
            </div>
            


            <div class="profileInfoFull">
                <!--script template profileInfoFull-->
            </div>

        </div>
        <div class="chatPanel">
            <div class="userInfo2">
                <img src="images/user.png" class="userImage">
                <div class="userName"></div>
            </div>

            <div class="chatBoxWindow">
                <!--message view send and recive-->
            </div>

            <div class="userFullInfoContainer">
                <div class="userInfoBlock">
                    <div class="imageContainer">
                        <img src="images/user.png" class="image">
                    </div>             
                </div>
                <div class="closeButton">
                    <i class="fa fa-close"></i>
                </div>
            </div>

            <div class="messageBox">
                <div class="textBox">
                    <textarea placeholder="type ur text here" class="textArea"></textarea>
                </div>
                <div class="sendButton" onclick="sendMessage(this)">
                    <i class="fa fa-send-o"></i>
                </div>
            </div>
        </div>
    </div>
</body>



<script id="screen1Template" type="text/x-jsrender">
    <div class="name">
        <div class="screen ">            
            <div class="enterButton">
                    <div class="enterText">Start Chat Now</div>
                    <!-- <i class="fa fa-arrow-circle-o-right">Start Chat Now</i> -->
            </div>
        </div>
    </div>
</script>

<script id="profileDataTemplate" type="text/x-jsrender">
     <img src="images/user.png" class="profileImage">
    <div class="profileName">{{>userName}}</div>
</script>


<script id="userTemplate" type="text/x-jsrender">
    <div class="user">
        <img src="images/user.png" data-image="images/user.png" class="Image">
        <div class="Name" data-id="{{>profileId}}" name="{{>profileName}}" onclick="showchatPanel(this)">{{>profileName}}</div>
        <div class="userStatusColor">
            <i class="fa fa-circle"></i>
        </div>
        <div class="notification">
            <span class="{{>profileId}}">{{if counter != 0}}{{>counter}}{{/if}}</span>
        </div>
    </div>
</script>

<script id="messageTemplate" type="text/x-jsrender">
    <div class="{{>show}}">
        {{>message}}
    </div>
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js"></script>
<script src="/scripts/jquery.js" type="text/javascript"></script>
<script src="/scripts/jsrender.js" type="text/javascript"></script>
<script src="/scripts/jsviews.js" type="text/javascript"></script>
<script src="/js/baseSushil.js" type="text/javascript"></script>
<script src="/js/index.js" type="text/javascript"></script>

</html>