<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Definitely not a Bank</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="stylesheets/business-casual.css" rel="stylesheet">

        <!-- My own css (kheehing) -->
        <!-- <link href="#" rel="stylesheet"> -->

        <!-- BootStrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    </head>

    <body>
        <br><br><br><br><br><br><br>
        <div class="container">
            <!-- login toggle-modal -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login_modal">User Info</button>
    
                <!-- login Modal -->
                <div class="modal fade" id="login_modal" role="dialog">
                    <div class="modal-dialog">
                            
                        <!-- login Modal content -->
                        <div class="modal-content">

                                <h4 class="modal-title">Login</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            <div class="modal-body">
                                <form action="/bank" method="POST">
            
                                    <input id="InputFirstName" name="InputFirstName" class="form-control col" type="text" placeholder="First Name">
                                    <input id="InputLastName" name="InputLastName" class="form-control col" type="text" placeholder="Last Name">
                    
                                    <input id="AccountNumber" name="AccountNumber" class="form-control" type="text" placeholder="Account Number">
                                    <input id="AvailableBalance" name="AvailableBalance" class="form-control" type="text" placeholder="Available Balance">
                    
                                    <select class="form-control" id="CreditCardType" name="CreditCardType">
                                        <option value="VISA">VISA</option>
                                        <option valus="MasterCard">MasterCard</option>
                                        <option value="AmericanExpress">AmericanExpress</option>
                                    </select>
                    
                                    <input id="CreditcardNumber" name="CreditcardNumber" class="form-control" type="text" placeholder="Creditcard Number">
                    
                                    <select class="form-control" id="ExpireDay" name="ExpireDay">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                        <option>13</option>
                                        <option>14</option>
                                        <option>15</option>
                                        <option>16</option>
                                        <option>17</option>
                                        <option>18</option>
                                        <option>19</option>
                                        <option>20</option>
                                        <option>21</option>
                                        <option>22</option>
                                        <option>23</option>
                                        <option>24</option>
                                        <option>25</option>
                                        <option>26</option>
                                        <option>27</option>
                                        <option>28</option>
                                        <option>29</option>
                                        <option>30</option>
                                        <option>31</option>
                                    </select>
                    
                                    <select class="form-control" id="ExpireMonth" name="ExpireMonth">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option></option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                        <option>12</option>
                                    </select>
                    
                                    <input id="CreditCardSC" name="CreditCardSC" class="form-control" placeholder="Security Code">
                                    
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-default" placeholder="Submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        

            <!-- <br><br><br><br><br>
            <div class="container user_info">
                <div class="row">
                    <label>Name:&nbsp;</label>
                    <div class="fname">Kheehing</div>
                    <p>&nbsp;</p>
                    <div class="lname">Yong</div>
                </div>
                <div class="row">
                    <label>Account Number:&nbsp;</label>
                    <div class="accnum">358008224</div>
                </div>
                <div class="row">
                        <label>Avaliable Balance:&nbsp;$</label>
                        <div class="avabal">1000</div>
                </div>
                <div class="row">
                    <label>CreditcardNumber:&nbsp;</label>
                    <div class="ccnum">5264852096309630</div>
                </div>
                <div class="row">
                    <label>Creditcard Security Number:&nbsp;</label>
                    <div class="ccsc">123</div>
                    <label>&nbsp;Expire:&nbsp;</label>
                    <div class="ed">6</div>
                    <p>&nbsp;/&nbsp;</p>
                    <div class="em">10</div>
                </div>
            </div>
             -->
    </body>

<footer></footer>

    
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase.js"></script>
    <script src="../../javascripts/bank.js"></script>
    <!-- BootStrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
</html>
