<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Definitely not a Bank</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/business-casual.min.css" rel="stylesheet">
    
    <!-- My own css (kheehing) -->
    <!-- <link href="#" rel="stylesheet"> -->
 
  </head>

  <body>
    <div class="container">
        <h3>Welcome to KHEE-BANK</h3>
        <p id="test"></p>
            <!-- login toggle-modal-->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#login_modal">Add User</button>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#view_modal">View User</button>
    
        <!-- login Modal -->
        <div class="modal fade" id="login_modal" role="dialog">
          <div class="modal-dialog">
            <!-- login Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Add User</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <form action="/bank" method="POST">
                <div class="modal-body">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="InputFirstName"> First Name</label>
                      <input id="InputFirstName" name="InputFirstName" class="form-control" type="text" placeholder="First Name" required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="InputLastName">LastName</label>
                      <input id="InputLastName" name="InputLastName" class="form-control" type="text" placeholder="Last Name" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="AccountNumber"> Account Number</label>
                      <input id="AccountNumber" name="AccountNumber" class="form-control" type="text" placeholder="Account Number" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="AvailableBalance">Available Balance</label>
                      <input id="AvailableBalance" name="AvailableBalance" class="form-control" type="text" placeholder="Available Balance" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="CreditcardNumber">Creditcard Number</label>
                      <input id="CreditcardNumber" name="CreditcardNumber" class="form-control" type="text" placeholder="Creditcard Number" required>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="ExpireMonth">Month</label>
                      <input id="ExpireMonth" name="ExpireMonth" class="form-control" type="number" placeholder="" required>
                    </div>
                    <div class="form-group col">
                        <label for="ExpireYear">Year</label>
                        <input id="ExpireYear" name="ExpireYear" class="form-control" type="number" placeholder="" required>
                      </div>
                  </div>
                  <label for="CreditCardSC">Security Code</label>
                  <input id="CreditCardSC" name="CreditCardSC" class="form-control" type="text" placeholder="Security Code">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-default" placeholder="Submit">
                </div>
              </form>
            </div>
          </div>
        </div><!-- end login Modal -->

        <!-- View login -->
        <div class="modal fade" id="view_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Users</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= FirstName %>
                  <%= test %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div><!-- end view login -->

    </div><!-- end container -->
  </body>

  <footer>
      
  </footer>

    
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC49wuB3NGxO8KmH_9E1uG1LLzDceYGIVI",
            authDomain: "ooadp-2018-sem1.firebaseapp.com",
            databaseURL: "https://ooadp-2018-sem1.firebaseio.com",
            projectId: "ooadp-2018-sem1",
            storageBucket: "ooadp-2018-sem1.appspot.com",
            messagingSenderId: "759422311263"
        };
        firebase.initializeApp(config);
    </script>
    <script src="./bank.js"></script>
    <!-- BootStrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    
</html>
