<!DOCTYPE html>
  <html lang="en">
  
    <head>
  
        <% include ../partials/head %>
  
        <link rel="stylesheet" type="text/css" href="../../stylesheets/util.css">
        <link rel="stylesheet" type="text/css" href="../../stylesheets/main.css">
    </head>
  

          </head>
  
  
          <body>


            <% include ../partials/header %>


    <br>

<div class ='aligning'>
    <form action="/genre" method="post">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Add New Category</h4>
      </div>

      <div class="modal-body">

          <fieldset class="form-group">
              <label for="inputitle">Insert Genre</label>
          </fieldset>
          <fieldset class="form-group">

              <input type="text" id="genre" name="genre" class="form-control" placeholder="Insert a Genre...."  required="" ><br> 
              
            
          
          </fieldset>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
     
  </form>
</div>

<style>
  button{
    margin-right: 135px;
  }
</style>


<div class="container">
      <br> <br> <br> <br>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

      <table id="myTable">
        <tr class="header">
          <th style="width:60%;">Genre</th>
          <th style="width:40%;"></th>
        </tr>

        <% for (i =0; i < genre.length; i++) {%>
        <tr class="rowRecord" data-id="<%= genre[i].id %>">
          <td><%= genre[i].genre %></td>
          <td> <input type="button" class="deleteBtnGenre"  value="Delete"></td>
        </tr>
        <% } %>
      
      </table>
    </div>
  </div>

  <br>
  <br>




      <script>
$('.deleteBtnGenre').click(function () {
var genre_num = $(this).closest("tr").data('id');
$.ajax({
url: '<%-urlPath%>/' + genre_num,
type: 'DELETE',
success: function (result) {
  console.log(result.message);
  var itemToRemove = '.rowRecord[data-id=' + genre_num + ']';
  $(itemToRemove).remove();
},
error: function (result) {
  alert("Unable to delete student record.");
  console.log(result.message);
}
});
});
      
      </script>


      <style>
          body{
              background-color: lightgoldenrodyellow;
          }
          * {
            box-sizing: border-box;
          }

          .aligning{
            margin-left: 165px;
            
          }

          #genre{
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 1170px;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
          }
          
          #myInput  {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
          }
          
          #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
          }
          
          #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
          }
          
          #myTable tr {
            border-bottom: 1px solid #ddd;
          }
          
          #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
          }
          </style>

<script>
  function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
  
    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      } 
    }
  }
  </script>

</body>
