<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../stylesheets/business-casual.min.css" rel="stylesheet">

  </head>
<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
      
    <span class="site-heading-lower">BookTrade</span>
  </h1>

  <% include ../partials/header %>
  
  <div class="container">

      <section class="page-section cta">
          <div class="container">
            <div class="row">
              <div class="col-xl-9 mx-auto">
               
                  <h2 class="section-heading mb-5">
                    <div class= "container" style= "text-align: center">
                      <form class="form-signin" action="/login" method="post">
                        <h2 class="form-signin-heading">Login</h2><br>

                          <label for="inputEmail" class="sr-only">Email address</label>
                          <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required=""><p></p>
                          <label for="inputPassword" class="sr-only">Password</label>
                          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required=""><p></p>
                          <button class = "btn btn-lg btn-primary btn-block" type="submit" style= "background-color: green; border-color: rgb(0, 80, 13)">Login</button>
                          <br>
                          <div class="container" style="background-color:#d4c093; text-align: center; border-radius: 20px">
                            <p>If you do not have an account, click here. </p>                              
                                <button style= "border-radius: 15px; border-color:rgb(75, 160, 216); border-width: 2px ;background-color: rgb(86, 187, 255); width: 140px; height: 60px;  ">
                                  <a href="/signup" style="color: white">Signup</a>
                                </button>
                          </div>
                      </form>
                    </div>
              </div>
</div>
</div>

    <% include ../partials/javascript %>
</body>
</html>
