<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/util.css">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/main.css">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <% include ../partials/header %>
    <style>
      body{
        background-color: lightgoldenrodyellow;
      }
      .btn-up{
        background-color: rgb(66, 145, 197); 
        border:"2px solid" ;
        border-color: black;
        transition: all 0.2s;
        cursor: pointer;
        width: 90px; height: 40px; 
        border-radius: 5px;
        color: white
      }
      .btn-up:hover{
        border:"4px solid";
        background-color: rgb(79, 185, 255);
        border-radius: 20px;
        color: black;
        transition: all 0.2s;
      }
      .btn-up:active {
          background-color: #438dfc;
          box-shadow: 0 1px rgb(79, 146, 223);
          transform: translateY(2px);
        }
        .btn-log{
          background-color: rgb(1, 109, 1);
          border-color: rgb(0, 80, 13);
          width: 100%;
          height: 50px;
          color: white;
          font-size: 26px;
          cursor: pointer;
        }
        .btn-log:hover{
          background-color: rgb(0, 172, 0);
          border-radius: 10px;
          border: "4px solid";
          transition: all 0.4s;
        }
        .btn-log:active {
          background-color: #3e8e41;
          box-shadow: 0 2px #666;
          transform: translateY(3px);
        }
      
    </style>
  </head>
<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
      
    <span class="site-heading-lower">BookTrade</span>
  </h1>
  <% include ../partials/head %>
  
    <div class="container">
      <section class="page-section cta">
          <div class="container">
            <div class="row">
              <div class="col-xl-9 mx-auto">

                    <h2 class="section-heading mb-5">
                      <div class= "container" style= "text-align: center">
                        <form class="form-signin" action="/login" method="post">
                          <h2 class="form-signin-heading">Login</h2></h2>

                          <% if (messages.loginMessage) {%>
                            <div class = "alert alert-warning"> <%= messages.loginMessage %>
                              <a href = "#" class= "close" data-dismiss = "alert" aria-label = "close">&times;</a>
                            </div>
                            <% } %>

                            <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="">
                            
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                            <button class = "btn-log" type="submit">Login</button><br><br>
                            <a href ="/forgot" style="text-transform: lowercase; text-transform: capitalize; color:blue; text-align: center; size: 10px" >Forgot Password?</a><br>
                            <br>
                            <div class="container" style="background-color:#d4c093; text-align: center; border-radius: 20px; height: 70px">
                              <br>
                              <p>If you do not have an account, click here.    
                                    <button onclick="location.href='/signup'"class = "btn-up">Signup</button>
                              </p> 
                            </div>
                        </form>
                      </div>
              </div>
</div>
</div>

    <% include ../partials/javascript %>
</body>
</html>
