<!DOCTYPE html>
<html lang="en">

  <head>

      <% include ../partials/head %>
  </head>
  <style>
  body{
      background-color: lightgoldenrodyellow;
  }
  h1{
    margin: auto;
    text-align: center;
  }
  </style>

  <body>
        <% include ../partials/header %>


    <% include ../partials/cart %> 
    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>    <br>
<h1>Product is not found</h1>
    
    <!-- Custom scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <% include ../partials/foot %> 

  </body>

</html>
